---
layout: layouts/base.liquid
pagination:
  data: collections.floral
  size: 5
  reverse: true
---
<article class="project-article">
    <h1 class="project-article-title">{{ pageTitle }}</h1>

    {{ content }}

    <div class="project-article-meta">
        <time datetime="{{ page.date }}">{{ page.date | date: "%Y %B %d." }}</time>
    </div>
</article>

Chapters:
<ol>
    {% for post in collections.floral %}
        <li><a href="{{ post.url | url }}">{{ post.data.pageTitle }}</a></li>
    {% endfor %}
</ol>